.tile_totals {
  background-color: #6c5ce7;
  color: white;

  .totals{
    display: flex;
    flex-flow: column;
  }
}

.mat-card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
