<!-- <h2>V1</h2>
<br>
<mat-grid-list  cols="4" rowHeight="100px">
  <mat-grid-tile  class="tile_totals" [colspan]="1"[rowspan]= "2">
    <div class="totals">
      <h1>Total Hours: 40</h1>
      <h5>Billing: 20</h5>
      <h5>Non-Billing: 20</h5>
    </div>
  </mat-grid-tile>
  <mat-grid-tile class="tile_details" [colspan]="3" [rowspan]= "2" >
    <mat-tab-group mat-align-tabs="start"  dynamicHeight>
      <mat-tab label="First">Content 1</mat-tab>
      <mat-tab label="Second">Content 2</mat-tab>
      <mat-tab label="Third">Content 3</mat-tab>
    </mat-tab-group>

  </mat-grid-tile>

</mat-grid-list>
<br>
<mat-divider></mat-divider>
<br> -->

<!-- <h2>Ver 2</h2>
<br> -->

<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Timesheets</mat-card-title>
  </mat-card-header>

  <mat-divider></mat-divider>

  <mat-card-content>
    <mat-tab-group mat-align-tabs="center">

      <mat-tab label="Wed 1">
        <app-time-entries></app-time-entries>
      </mat-tab>
     
    
    </mat-tab-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="addTime()">Add Time</button>
    <button mat-button color="primary">Submit for approval</button>
  </mat-card-actions>
</mat-card>

