.wizard_form{
  display: flex;
  flex-flow: column;
  min-height: 322px;

  .mat-form-field{
    width: 50%;
    padding: 10px;
  }

  .TextArea{
    width: 100%;
  }

  .billiable-toggle{
    padding: 10px;

    mat-label{
      margin-left: 20px;
    }
  }
}

.botton-options{
  margin-top: 10px;
}

