<H2> Add New Time Entry</H2>

<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="timeDetails">
    <form [formGroup]="timeDetails" class="wizard_form">
      <ng-template matStepLabel>Time Details</ng-template>
      <mat-form-field>
        <mat-label>Work Time</mat-label>
        <input matInput type="number" placeholder="Time you took in The task" formControlName="time" required>
      </mat-form-field>
      <mat-form-field>
      <mat-label>Date</mat-label>
        <input matInput [matDatepicker]="picker1" formControlName="date" required>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field >
        <mat-label>Client</mat-label>
        <mat-select formControlName="client">
          <mat-option *ngFor="let client of clients" [value]="client.id">
            {{client.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="TextArea">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Add Your details" formControlName="description"></textarea>
      </mat-form-field>
    </form>
    <div class="botton-options">
      <button mat-button matStepperNext (click)="getProjectList()">Next</button>
    </div>
  </mat-step>

  <mat-step [stepControl]="projectDetails">
    <form [formGroup]="projectDetails" class="wizard_form">
      <ng-template matStepLabel>Project Details</ng-template>
      <mat-form-field>
        <mat-label>Project</mat-label>
        <mat-select matInput  formControlName="projectid" (selectionChange)="getProjectOptions()">
          <mat-option  *ngFor="let project of projects" [value]="project.id">
            {{project.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-progress-bar mode="indeterminate" *ngIf="loadingOptions"></mat-progress-bar>

      <mat-form-field >
        <mat-label>Module</mat-label>
        <mat-select matInput  formControlName="moduleid" >
          <mat-option>None</mat-option>
          <mat-option *ngFor="let module of modules" [value]="module.moduleid">
            {{module.module}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Task</mat-label>
        <mat-select matInput  formControlName="taskid" >
          <mat-option>None</mat-option>
          <mat-option *ngFor="let task of tasks" [value]="task.id">
            {{task.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>WorkType</mat-label>
        <mat-select matInput  formControlName="worktypeid" >
          <mat-option>None</mat-option>
          <mat-option *ngFor="let worktype of worktypes" [value]="worktype.worktypeid">
            {{worktype.worktype}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="billiable-toggle">
        <mat-slide-toggle matInput formControlName="billable"></mat-slide-toggle>
        <mat-label>Billable</mat-label>
      </div>
    </form>
    <div class="botton-options">
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext (click)="postNewTimeEntry()">Next</button>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <div class="done-message">
      <mat-progress-bar mode="indeterminate" *ngIf="loadingOptions"></mat-progress-bar>

      <p>Your Time has been Included.</p>
      <p>You are done by now, but this wizard can be reset to add new entries.</p>
   </div>

    <div class="botton-options">
      <button mat-button mat-dialog-close ="Finish" >Close</button>
      <button mat-button (click)="stepper.reset()">Add a new Time Entry</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
