<h2 mat-dialog-title>Please Enter your Token:</h2>
<div mat-dialog-content>
    <mat-form-field>
    <mat-label>Timetask Token</mat-label>
    <input matInput [(ngModel)]="token">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button >Cancel</button>
  <button mat-button [mat-dialog-close]="token" cdkFocusInitial >Ok</button>
</div>
