table {
  width: 100%;

  th{
    width: 12.5%;
  }

  input{
    border: none;
    border-bottom: solid 1px;
    width: 80%;
  }

  .date-input{
    width: 60%;
  }
}

th.mat-sort-header-sorted {
  color: black;
}

