<div class="header-table">
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Project Column -->
    <ng-container matColumnDef="project">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Project </th>
      <td mat-cell *matCellDef="let element"> {{element.project}}
      </td>
    </ng-container>

    <!-- Module Column -->
    <ng-container matColumnDef="module">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> 	Module </th>
      <td mat-cell *matCellDef="let element"> {{element.module}} </td>
    </ng-container>

    <!-- Task Column -->
    <ng-container matColumnDef="taskName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Task </th>
      <td mat-cell *matCellDef="let element"> {{element.task}} </td>
    </ng-container>

    <!-- Work type Column -->
    <ng-container matColumnDef="workType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Work type </th>
      <td mat-cell *matCellDef="let element"> {{element.worktype}} </td>
    </ng-container>

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!element.isEditable">{{element.description}}</span>
        <input *ngIf="element.isEditable" type="text" [value]="element.description" [(ngModel)]="element.description" />
      </td>
    </ng-container>

    <!-- Date Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date	 </th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="!element.isEditable">{{element.date}}</span>
        <!-- <input *ngIf="element.isEditable" type="date" [value]="element.date" [(ngModel)]="element.date" /> -->
        <div *ngIf="element.isEditable">
          <input class="date-input" matInput [matDatepicker]="picker1" [value]="element.date"  [(ngModel)]="element.date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </div>
      </td>

    </ng-container>

    <!-- Time Column -->
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
      <td mat-cell *matCellDef="let element">
          <span *ngIf="!element.isEditable">{{element.time}}</span>
          <input *ngIf="element.isEditable" type="number" [value]="element.time" [(ngModel)]="element.time" />
      </td>
    </ng-container>

    <!-- Billable Column -->
    <ng-container matColumnDef="billable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Billable </th>
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [checked]="element.billable"  [(ngModel)]="element.billable" [disabled]="!element.isEditable">
      </mat-slide-toggle>
       </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="editTime">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
      <td mat-cell *matCellDef="let element;">
        <button mat-icon-button aria-label="" (click)="updateTimeDetails(element)">
         <mat-icon *ngIf="!element.isEditable">edit</mat-icon>
         <mat-icon *ngIf="element.isEditable">save</mat-icon>
        </button>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
         <button mat-icon-button aria-label="" (click)="deleteTimeDetails(element)">
           <mat-icon>delete</mat-icon>
        </button>
         </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
